alias gd="git diff --color --ignore-all-space"
alias gdc="gd --cached"
alias gl="git_log_pretty"
alias gs="git status"
alias installgit="install_git"
alias gb="git branchdate"
alias gc="git commit -m"
