.DS_Store
sftp-config.json
deployment-config.json
.ruby-gemset
.ruby-version
*.sublime-workspace
*.sublime-project
.svn
*~
*.swp
*.rbc
.vscode
bin/
.agignore
passenger.*
ruby-lint.yml
.reek
*navigation_activity_report_spec.js.coffee
.rspec
