[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[apply]
  whitespace = nowarn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
	excludesfile = ~/.gitignore
  editor = vim
[credential]
  helper = GIT_CREDENTIAL_HELPER
[help]
  autocorrect = 1
[push]
	default = PUSHDEFAULT
[mergetool]
	keepBackup = false