[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[apply]
  whitespace = nowarn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
	excludesfile = ~/.gitignore
  editor = vim
[credential]
  helper = GIT_CREDENTIAL_HELPER
[help]
  autocorrect = 1
[mergetool]
	keepBackup = false
[alias]
	branchdate = "!for k in `git branch -r | perl -pe 's/^..(.*?)( ->.*)?$/\\1/'`; do echo `git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k -- | head -n 1`\\\\t$k; done | sort -r"
