'editor':
  'fontSize': 14
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'exception-reporting':
  'userId': '2378eb2c-598f-d9c1-2219-173022b289e9'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '643fff63da03373a895ecbd0254ce1a4c83353b7'
